# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores de código
.vscode/
.idea/

# Agentes y herramientas internas
.atl/

# Registros o temporales
*.log
*.tmp

# Variables de entorno
.env
.env.local

# Dependencias (por si acaso)
node_modules/